.footerdiv {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
h6 {
  margin: 10px;
  padding: 10px;
}
.footer_text {
  font-size: 18px;
  text-decoration: none;
}
.copyright {
  display: flex;

  justify-content: center;
  align-items: center;
  color: black;
}
.soc_acc_txt {
  font-size: large;
}
a:link {
  color: blueviolet;
}
a:visited {
  color: black;
}
a:hover {
  color: orange;
  text-decoration: none;
}
a:active {
  color: green;
}
